!!!
%html
  %head
    %title Thump - a location aware social network
    = stylesheet_link_tag 'reset'
  %body
    #wrapper
      - flash.each do |key, msg|
        = content_tag(:div, msg, :id => key)
      #header
        .left [LOGO]
        .right
          = link_to "Signup", signup_path
      #main
        = yield
      #footer